/data/
/src/__pycache__/
/tests/__pycache__/
/utils/__pycache__/
/src/roc.ipynb
/src/RecCut
/bench/cath/data
/bench/cath/__pycache__/
/bench/scop/data
/bench/scop/__pycache__/
/bench/pfam/data
/bench/pfam/__pycache__/
/utils/data/